
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Category", "Index", "Categories")</li>
<li>@Html.ActionLink("Inventory", "Index", "Inventories")</li>
<li>@Html.ActionLink("Customer", "Index", "Customers")</li>
<li>@Html.ActionLink("Item", "Index", "Items")</li>